<div class="panel panel-primary">
    <div class="panel-heading">
        <span style="font-size:large" class="col-md-2">Trades List</span>
        
        <!--<button type="button" style="background-color:lightskyblue;font-style:normal;border-color:transparent"class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-plus"></i> New</button>-->
        <a class="btn btn-primary" style="width:80px;border-color:transparent" ui-sref="tradeEdit({tradeId:0})"><i class="glyphicon glyphicon-plus"></i> New</a>
        
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Trade Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Settlement Date</th>
                    <th scope="col">TM</th>
                    <th scope="col">Total Bid$</th>
                    <th scope="col">Total Traded$</th>
                    <th scope="col">Total Reprices$</th>
                    <th scope="col">Close Time</th>
                    <th scope="col">Fall Out%</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trade in vm.trades">
                    <td><a ui-sref="tradeDetail({tradeId:trade.tradeID})">{{trade.tradeName}}</a></td>
                    <td>{{trade.tradeType}}</td>
                    <td>{{trade.tradePoolStages.slice(-1)[0].lU_TradeStage.stageName}}</td>
                    <td>{{trade.estSettlementDate | date}}</td>
                    <td>{{trade.managerName}}</td>
                    <td>{{trade.totalBidAmount | number:2}}</td>
                    <td>{{trade.totalTradedAmount | number:2}}</td>
                    <td>{{trade.totalRepriceAmount | number:2}}</td>
                    <td>{{trade.closeTime}}</td>
                    <td>{{trade.fallOutPercent | number:2}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
