<div class="panel panel-primary">
    <div class="panel-heading">
        <span style="font-size:large" class="col-md-2">
            Trade Summary </span>
            <span style="font-size:large" >-       {{vm.trade.tradeName}}</span>
        
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Settlement Date</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Manager Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.trade.tradeID}}</td>
                    <td>Purchase</td>
                    <td>{{vm.trade.estSettlementDate | date}}</td>
                    <td>
                        <a href="" ng-click="vm.ToggleDropDown()">{{vm.trade.tradePoolStages.reverse()[0].lU_TradeStage.stageName}}</a>
                        <div id="stage+{{vm.trade.tradeID}}" ng-show="vm.toggleState" style="z-index:1000" class="dropdown-menu-right">
                            <ul ng-repeat="tradePoolStage in vm.trade.tradePoolStages.reverse()" style="font-size:smaller">
                                <li>{{tradePoolStage.lU_TradeStage.stageName}} - {{tradePoolStage.tradeStageDate | date}}</li>
                            </ul>
                        </div>
                    </td>
                    <td>{{vm.trade.managerName}}</td>
                    <td>
                        <a class="btn btn-primary" style="width:80px" ui-sref="tradeEdit({tradeId:vm.trade.tradeID})">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
            <div id="tradeLoanSummaryPanel" class="panel-group" style="padding-bottom:inherit;width:100%;height:80%;min-width:550px;">
                <div class="panel" style="width:100%">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="btn btn-link" id="tdMainSummaryLink" name="tdMainSummaryLink" data-toggle="collapse" data-target="#collapseMainLoanSummary"><span class="glyphicon glyphicon-collapse-up"></span><b>Trade Summary</b></a>
                        </h4>
                    </div>
                    <div id="collapseMainLoanSummary" class="collapse in">
                        <table class="table table-inverse table-striped table-hover">
                            <tr class="row-sm">
                                <td class="col-sm-4"><label for="totalDebt" class="col-sm-6 control-label">Total </label></td>
                                <td>{{vm.trade.summary.totalDebt | currency}} </td>
                            </tr>
                            <tr>
                                <td class="col-sm-4"><label for="totalPurchPrc" class="col-sm-6 control-label">Total Purchase Price </label></td>
                                <td>{{vm.trade.summary.totalPurchasePrice | currency}} </td>
                            </tr>
                            <tr>
                                <td class="col-sm-4"><label for="totalPurchPc" class="col-sm-6 control-label">Total Purchase %</label></td>
                                <td>{{(vm.trade.summary.totalPurchasePrice/vm.trade.summary.totalDebt)*100 | number:2}}%</td>
                            </tr>
                            <tr>
                                <td class="col-sm-4"><label for="totalCount" class="col-sm-6 control-label">Total Loans</label></td>
                                <td>{{vm.trade.summary.totalCount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="panel" style="width:100%">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="btn btn-link" id="tdSummaryLink" name="tdSummaryLink" data-toggle="collapse" data-target="#collapseLoanSummary"><span class="glyphicon glyphicon-collapse-down"></span><b>Trade Detail Summary</b></a>
                        </h4>
                    </div>
                    <div id="collapseLoanSummary" class="collapse">
                        <div class="input-group" >
                            <input class="form-control" placeholder="Search query... [Example query: (AssetID eq 3947) and (Zip eq '85041')]" name="search" id="search" type="text" ng-model="vm.filterValue" />
                            <div class="input-group-btn"><button class="btn btn-primary" type="submit" ng-click="vm.filter()"><i class="glyphicon glyphicon-search"></i> </button></div>
                        </div>
                        <!--<div ui-grid="vm.gridOption" ui-grid-auto-resize class="gridAssets"></div>-->
                        <!--<span><input ng-model='vm.filterValue' placeholder="Search by Asset ID.. " />  <label class='btn btn-link' ng-click='vm.filter()'>Search</label></span>-->
                        <div ui-grid="vm.gridOption" ui-grid-pagination class="grid"></div>
                    </div>
                </div>

            </div>
            <div class="panel-footer"></div>
            <div style="padding-bottom:inherit;width:90%;height:80%;min-width:550px;">
                <button class="btn btn-link" ng-click="showModal()">Trade Tape Details</button>
                <iframe-modal></iframe-modal>
            </div>
    </div>
   

    <div class="panel-footer">
        <a class="btn btn-primary"
           ui-sref="trading"
           style="width:120px">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Trades List
        </a>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#collapseLoanSummary").on("hide.bs.collapse", function () {
        document.getElementById('tdSummaryLink').innerHTML = '<span class="glyphicon glyphicon-collapse-down"></span> <b>Trade Detail Summary</b>';
  });
$("#collapseLoanSummary").on("show.bs.collapse", function () {
    document.getElementById('tdSummaryLink').innerHTML = '<span class="glyphicon glyphicon-collapse-up"></span> <b>Trade Detail Summary</b>';
});

$("#collapseMainLoanSummary").on("hide.bs.collapse", function () {
    document.getElementById('tdMainSummaryLink').innerHTML = '<span class="glyphicon glyphicon-collapse-down"></span> <b>Trade Summary</b>';
});
$("#collapseMainLoanSummary").on("show.bs.collapse", function () {
    document.getElementById('tdMainSummaryLink').innerHTML = '<span class="glyphicon glyphicon-collapse-up"></span> <b>Trade Summary</b>';
});
});
</script>
