
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="form-horizontal" name="tradeEditForm" novalidate>
            <fieldset>
                <legend>{{vm.title}}</legend>
                <div class="form-group">
                    <label for="tradeId" class="col-md-2 control-label">Trade Id</label>
                    <div class="col-md-4">
                        <input id="tradeId" name="tradeId" class="form-control" type="text" placeholder="Trade Id" ng-model="vm.trade.tradeID" style="text-align:left" ng-disabled="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tradeName" class="col-md-2 control-label">Trade Name</label>
                    <div class="col-md-4">
                        <input id="tradeName" name="tradeName" class="form-control" type="text" placeholder="Trade Name" ng-model="vm.trade.tradeName"  style="text-align:left" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="counterParty" class="col-md-2 control-label">Counter Party</label>
                    <div class="col-md-4">
                        <!--<select id="counterParty" name="counterParty" class="form-control" type="text"  placeholder="Counter Party" ng-model="vm.trade.counterPartyID" ng-options="opt.counterPartyID as opt.counterPartyName disable when opt.bold for opt in vm.availableCounterPartyOptions" style="text-align:left"></select>-->
                        <!--<select id="counterParty" name="counterParty" class="form-control" type="text" placeholder="Counter Party" ng-model="vm.trade.counterPartyID" ng-options="opt.counterPartyID as opt.counterPartyName opt.bold for opt in vm.availableCounterPartyOptions" style="text-align:left"></select>-->
                        <select id="counterParty" name="counterParty" class="form-control" type="text" placeholder="Counter Party" ng-model="vm.trade.counterPartyID" ng-disabled="vm.selectedStage" ng-change="vm.counterPartyChange()" style="text-align:left">
                            <option ng-repeat="opt in vm.availableCounterPartyOptions" ng-class={newitem:opt.bold} ng-value="opt.counterPartyID" >{{opt.counterPartyName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="settlementDate" class="col-md-2 control-label">Settlement Date</label>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input id="settlementDate" name="settlementDate" class="form-control" type="text" placeholder="Settlement Date"
                                   uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.datePickerDate" is-open="vm.opened" datepicker-options="dateOptions"
                                   close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="managerName" class="col-md-2 control-label">Manager Name</label>
                    <div class="col-md-4">
                        <input id="managerName" name="managerName" class="form-control" type="text" placeholder="Manager Name" ng-model="vm.trade.managerName" style="text-align:left" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="managerName" class="col-md-2 control-label">Manager Initials</label>
                    <div class="col-md-4">
                        <input id="managerInitials" name="managerInitials" class="form-control" type="text" placeholder="Manager Initials" ng-model="vm.trade.managerInitials" style="text-align:left" />
                    </div>
                </div>


                <!--<hot-table datarows="vm.data">
            </hot-table>
            <label for="managerName" class="col-md-2 control-label">{{vm.data[0].id}}</label>-->



        <div class="form-group-sm">
            <div class="col-md-4">
                <label for="stageNameDropdown" class="col-sm-2 control-label">Stage</label>
                <div class="col-sm-10">
                    <select class="col-sm-2 form-control" name="stageNameDropdown" id="stageNameDropdown" ng-model="vm.selectedStageDropdownParams" ng-options="opt.stageID as opt.stageName for opt in vm.availableStageOptions"></select>
                </div>

            </div>
        </div>

        <div class="form-group-sm">
            <div class="col-md-6">
                <label for="stageDate" class="col-sm-2 control-label">Date</label>

                <div class="col-sm-6">
                    <p class="input-group">
                        <input id="stageDate" name="stageDate" class="form-control" type="text" placeholder="Stage Change Date"
                               uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.selectedStageDate" is-open="vm.opened2" datepicker-options="dateOptions"
                               close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-group-sm" ng-click="vm.open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                    </p>
                </div>
            </div>
        </div>
        <div class="form-group-sm" ng-show="vm.selectedStage && vm.selectedStage.stageID==1">
            <div class="col-md-6 col-md-offset-2">
                <!--<input type="file" title="Upload" nv-file-select uploader="uploader" ng-show="uploader.queue.length==0" class="btn btn-primary"/><br />-->
                <!--<element nv-file-drop  uploader="uploader" ng-show="uploader.queue.length==0"> Drop a bid tape file here...</element>-->
                <div nv-file-drop="" uploader="uploader">
                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                        <div ng-show="uploader.queue.length==0">Please drop the bid tape .csv file here.</div>
                        <div ng-show="uploader.queue.length==1"><span ng-bind="uploader.queue[0].file.name"></span></div>
                    </div>
                </div>
                <div ng-show="uploader.queue.length==1"><button class="btn btn-primary" type="submit" ng-click="uploader.queue[0].upload()">Upload Bid Tape</button></div>
                <div class="progress" ng-show="vm.FileUploading == true">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progressBarValue}}" aria-valuemin="0" aria-valuemax="100" style="width:70%">{{vm.progressStatus}}</div>
                </div>
                <!--<ul>
                    <li ng-repeat="item in uploader.queue">
                        <label class="col-md-4 control-label">Bid Tape to Upload:</label> <span ng-bind="item.file.name"></span>
                        <span><button ng-show="uploader.queue.length==1" class="btn btn-default" type="submit" ng-click="item.upload()">Upload Bid Tape</button></span>
                    </li>
                </ul>-->
            </div>
        </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <span>
            <button ng-show="uploader.queue.length==0" class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" ng-click="vm.submit(tradeEditForm.$valid)" ng-disabled="tradeEditForm.$invalid || tradeEditForm.$pristine">Save</button>
        </span>
        <span>
            <button ng-show="uploader.queue.length==0" id="deleteBtn" name="deleteBtn" class="btn btn-warning" type="submit" style="width:80px;margin-right:10px" ng-click="vm.deleteTrade(vm.trade)" ng-disabled="!tradeEditForm.$pristine">Delete</button>
        </span>
        <span>
            <button  class="btn btn-primary" type="submit" style="width:70px" ng-click="vm.cancel()">Cancel</button>
        </span>
    </div>
</div>

   
