<div class="modal-header">
    <h3 class="modal-title">Add a new Counter Party</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="cpEditForm" novalidate>
        <div class="form-group">
            <input id="counterParty" name="counterParty" class="form-control" type="text" placeholder="Please enter a new counter party name.." ng-model="vmCtrl.counterPartyName" style="text-align:left;" />
            <div class="has-error submit-error" data-ng-message="vmCtrl.serverErrors" data-ng-show="vmCtrl.serverErrors" style="padding-top:20px">
                <span class="glyphicon glyphicon-warning-sign has-feedback"></span><label class="has-feedback">{{vmCtrl.serverErrors}}</label>
                <!--<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>-->
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="vmCtrl.submit()" ng-disabled="cpEditForm.$invalid || cpEditForm.$pristine">Submit</button>
    <button class="btn btn-primary" type="button" ng-click="vmCtrl.close()">Cancel</button>
</div>
