body {
    background-color: lightblue;
}

form {
    background: #A4c8e8;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}

form legend {
    color: #404040;
    font-size: 42px;
    font-family: 'cookie', cursive;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,1);
}

.relative-panel {
    width: 100%;
    height: 80%;
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150 px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

.grid {
    width: 100%;
    height: 250px;
}

.modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9990;
    display:none;
}
.modal-backdrop {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    background-color:#000;
    opacity:0.8;
}
.modal-stretch {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 3;
}
.modal-stretch .header {
    background-color: #005daa;
}
.modal-stretch .content {
    background-color: #fff;
}
.modal-container {
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    background-color: #fff;
}
.modal-container button {
  position: absolute;
  top: -30px;
  right: 0;
}
.modal-container iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    z-index: 2;
}
.modal-content {
    z-index:9999;
    padding: 5px;
}